body {
    font-family: 'Lato', sans-serif;
}


/* BACKGROUND PERMISSÃO DE ACESSO*/

#background-principal {
    background-image: url('../img/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*Ajusta a img do tamanho da tela*/
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


/* CONTEÚDO PERMISSÃO DE ACESSO*/

#conteudo {
    position: absolute;
    padding: 50px;
    padding-top: 150px;
    width: 800px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
}


/* BOTÃO PERMISSÃO DE ACESSO*/

.btn-conteudo {
    border-radius: 30px;
    background: #1f25a3;
    color: white;
    border: none;
    display: flex;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    justify-content: center;
    width: 300px;
}

.btn-conteudo:hover {
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.6);
}


/* BACKGROUND TELA DE LOGIN*/

#background-login {
    background-image: url('../img/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*Ajusta a img do tamanho da tela*/
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


/* CONTEÚDO TELA DE LOGIN*/

#login {
    position: absolute;
    padding: 50px;
    padding-top: 150px;
    width: 450px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}


/* BOTÃO TELA DE LOGIN*/

.btn-login {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background: #1f25a3;
    color: white;
    margin-right: 10px;
    border: none;
}

.btn-login:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.align-button {
    display: flex;
    justify-content: space-between;
}


/* ALERT TELA DE LOGIN*/

.alert-danger {
    display: flex;
    justify-content: center;
    margin: 25px;
    height: 50px;
    border-radius: 30px;
}

.background-usuario {
    background-image: url('../img/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*Ajusta a img do tamanho da tela*/
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw !important;
    height: 100vh !important;
}

.filtro-background {
    position: absolute;
    padding: 50px;
    padding-top: 150px;
    width: 560px;
    height: 100%;
    background: rgba(14, 33, 117, 0.6);
    color: rgb(255, 255, 255);
}